body {
    font-family: Arial, 'Helvetica', sans-serif;
    background-color: #ccc;
    min-width: 320px;
    font-size: 16px;
    color: white;
    line-height: 1.5em;
}

.circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    right: 5px;
    top: 250px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
}

.cardContainer > div{
    overflow: hidden;
}
.card {
    overflow: hidden;
}

@media screen and (max-width: 319px) {
    .mainWrapContainer {
        display: none;
    }
}

@media screen and (min-width: 320px) {
    body {
        font-size: 10px;
        line-height: 1em;
    }

    .mainWrapContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .cardContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 100%;
        height: 100px;
        margin: 0 20px;
    }

    .cardContainer > div {
        display: flex;
        justify-content: space-around;
        min-width: 30%;
        background-color: DodgerBlue;
        margin: 10px;
        padding: 20px;
        border-radius: 15px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card h4 {
        margin-top: 30px;
    }

    .bgFirst {
        background: rgb(255, 199, 202);
        background: linear-gradient(90deg, rgba(255, 199, 202, 1) 0%, rgba(255, 167, 172, 1) 40%, rgba(255, 65, 77, 1) 100%);
    }

    .bgSecond {
        background: rgb(153, 205, 255);
        background: linear-gradient(90deg, rgba(153, 205, 255, 1) 0%, rgba(30, 144, 255, 1) 53%, rgba(30, 144, 255, 1) 100%);

    }

    .bgThird {
        background: rgb(173, 255, 245);
        background: linear-gradient(90deg, rgba(173, 255, 245, 1) 0%, rgba(29, 219, 198, 1) 40%, rgba(0, 163, 145, 1) 100%);
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 480px) {
    body {
        min-width: 480px;
        font-size: 9px;
        line-height: 0.8em;
    }

    .cardContainer {
        flex-direction: row;
        background-color: #ddd;
        height: 120px;
    }

    .cardContainer > div {
        padding: 15px;
        border-radius: 15px;
    }

    .card h4 {
        margin-top: 20px;
    }
}

@media screen and (min-width: 577px) {
    body {
        min-width: 570px;
        font-size: 12px;
        line-height: 1em;
    }

    .cardContainer {
        height: 180px;
    }

    .card h4 {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    body {
        min-width: 768px;
        font-size: 14px;
        line-height: 1.2em;
    }

    .cardContainer {
        height: 200px;
    }

    .card h4 {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        min-width: 1200px;
        font-size: 18px;
        line-height: 1.5em;
    }

    .cardContainer {
        height: 250px;
    }

    .card h4 {
        margin-top: 30px;
    }
}